<div class="container table-responsive-sm ">
    <form action="" class="mt-3">
        <div class="form-group">
            <h5>Inventario</h5>
            <!-- <input [(ngModel)]="searchString" name="searchString" style="width: 35%;" class="form-control" type="text" placeholder="Buscar Repuesto..."> -->
        </div>
    </form>
    <div class="d-flex justify-content-center mt-3">
        <app-spinner *ngIf="loading"></app-spinner>
        <div class="table-responsive">
            <table *ngIf="!loading" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Utilidad</th>
                        <th class="text-center">Precio</th>
                        <th style="width: 20%;" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i=index; let repuesto of listRepuestos | paginate: {itemsPerPage: 10, currentPage: page } ">
                        <td> {{ i+1 }} </td>
                        <td> {{ repuesto.codigo }} </td>
                        <td> {{ repuesto.nombre }} </td>
                        <td class="text-center"> {{ repuesto.cantidad }} </td>
                        <td class="text-center"> {{ repuesto.costo | currency:'USD' }} </td>
                        <td class="text-center"> {{ repuesto.utilidad | percent }} </td>
                        <td class="text-center"> {{ repuesto.venta | currency:'USD' }} </td>
                        <td class="text-center">
                            <i [routerLink]="['/dashboard/compras/', repuesto._id]" class="fas fa-edit"></i>
                            <i (click)="eliminarRepuesto(repuesto._id)" class="fas fa-trash"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls *ngIf="!loading" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>